<!-- <section class="p-5">
   <div class="container">
      <div class="row align-items-center justify-content-betweeen">
         <div class="col-md">
            <img class="img-fluid" src="assets/login-img2.svg" alt="...">
         </div>
         <div class="col-md p-5">
            <h2 class="text-center fs-2 mb-5">Account Login</h2>
            <form>
               <div class="input-container">
                  <input type="email" name="email" class="my-input" placeholder="xyz@gmail.com">
               </div>
               <div class="input-container">
                  <input type="password" name="password" class="my-input" placeholder="Enter password">
               </div>
               <div class="input-container">
                  <button type="button" class="btn btn-success my-button" routerLink="/admin-layout/dashboard">Submit</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section> -->


 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form>
    <h3>Login Here</h3>

    <label for="username">Username</label>
    <input type="text" placeholder="Email or Phone" id="username">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <button style="color: #198754;" routerLink="/super-admin/super-dashboard">Log In</button>
    <p>Do you have an account?
      <br>
      Sign in <a routerLink="app-sign-up">Here</a></p>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i>  Google</div>
      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
    </div>
</form>


<!-- <section class="p-5">
   <div class="container">
      <div class="row align-items-center justify-content-betweeen">
         <div class="col-md">
            <img class="img-fluid" src="assets/login-img2.svg" alt="...">
         </div>
         <div class="col-md p-5">
            <h2 class="text-center fs-2 mb-5">Account Login</h2>
            <form [formGroup]="exForm">
               <div class="input-container" class="form-group">
                  <input type="email" name="email" class="my-input" placeholder="xyz@gmail.com" formControlName="email">
                   <small class="text-danger" *ngIf="exForm.get('email').invalid && exForm.get('email).touched">Email is required!</small> 
               </div>
               <div class="input-container" class="form-group">
                  <input type="password" name="password" class="my-input" placeholder="Enter password" formControlName="password">
               </div>
               <div class="input-container">
                  <button type="button" class="btn btn-success my-button" routerLink="/admin-layout/dashboard">Submit</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</section> -->