<!-- <h1>Champion Photos</h1>
<div class="container">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    <img src="/assets/gallery2.jpeg" alt="">
    </div>
     -->