/* *{
    padding: 0;
    margin: 0;
}

.Hero{
    padding: 40px;
    width: 100%;
    background: gold;
}

.Hero > button{
    border: none;
    background: #fff;
    width: 120px;
    padding: 5px;
    color: #008800;
}

.Hero .form-area{
    background: #fdfdfd;
    width: 100%;
    height: 40vh;
    padding: 10px;
}

.form-area > form > input{
    width: 100%;
    border: none;
    padding: 10px;
} */

.Hero{
    padding: 40px;
    width: 80vw;
}

*{
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-div{
    padding-left: 40px;
    padding-right: 40px;
}

.player-data{
    min-height: 50vh;
    /* background: linear-gradient(65deg, rgb(181, 41, 231), rgb(216, 43, 43)); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-top: 50px;
    background: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

form input{
    border: 1px solid #ccc;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
}

form button{
    width: 50px;
    height: 40px;
    border: none;
    background: teal;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.container{
    margin-top: 50px;
}

.container ul{
    list-style: none;
    width: 500px;
}

ul li{
    width: 100%;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 50px;
    position: relative;
    display: block;
    margin: 5px 0;
    box-shadow: -3px 6px 4px #222;
}

ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background: #ccc;
}

input{
    width: 100%;
    border: 1px solid #b3b3b3;
}

table{
    border: 1px solid #b3b3b3;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    background: blue;
    width: 100%;
    height: 90px;
    padding: 30px;
}

.container > div > input{
    width: 50%;
}