
<header>
   <nav class="navbar navbar-expand-md bg-success navbar-dark py-3">
     <div class="container">
       <a href="#" class="navbar-brand fs-1 fw-bold">
        <img src="/assets/ABCIN.png" class="logo">
       </a>
 
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
         <span class="navbar-toggler-icon">.
         </span>
       </button>
 
       <div class="collapse navbar-collapse" id="navmenu">
         <ul class="navbar-nav ms-auto fs-5">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link mx-4">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/department" class="nav-link mx-4">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/edit" class="nav-link mx-4" >Gallery</a>
          </li>
          <li class="nav-item">
            <a routerLink="/edit" class="nav-link mx-4" >See matches
              <select>
                <option></option>
                <option>hi</option>
                <option>hello</option>
              </select>
            </a>
          </li>
           <li class="nav-item">
             <a routerLink="/edit" class="nav-link mx-4" >SIGN UP</a>
           </li>
         </ul>
       </div>
     </div>
   </nav>
 </header>
 