<header>
  <nav class="navbar navbar-expand-md bg-success navbar-dark py-3">
    <div class="container">
      <a href="#" class="navbar-brand fs-1 fw-bold">
        <img alt="logo" src="/assets/ABCIN.png" class="logo">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon">.
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto fs-5">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link mx-4">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link mx-4">About</a>
          </li>
          <li class="nav-item">
            <a href="#gallery" class="nav-link mx-4">Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-4">See matches <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <a href="#matches">Match 1</a>
              <a href="#">Match 2</a>
              <a href="#">Match 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a routerLink="login-page" class="nav-link mx-4">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>