<p>navbar works!</p>

<header>
   <nav class="navbar navbar-expand-md bg-success navbar-dark py-3">
     <div class="container">
       <a href="#" class="navbar-brand fs-1 fw-bold">BADMINTON</a>
 
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
         <span class="navbar-toggler-icon">.
         </span>
       </button>
 
       <div class="collapse navbar-collapse" id="navmenu">
         <ul class="navbar-nav ms-auto fs-5">
           <li class="nav-item">
             <a routerLink="/dashboard" class="nav-link mx-4">SEE MATCHES</a>
           </li>
           <li class="nav-item">
             <a routerLink="/department" class="nav-link mx-4">JUDGES</a>
           </li>
           <li class="nav-item">
             <a routerLink="/edit" class="nav-link mx-4">SIGN UP</a>
           </li>
         </ul>
       </div>
     </div>
   </nav>
 </header>
 