.logo {
   width: 70px;
   height: 70px;
}

li a {
   transition: .3s;
   font-size: 14px;
   color: #fff;
   font-weight: bold;
}

li a:hover {
   text-decoration: underline;
   text-decoration-thickness: 2px;
   text-decoration-color: yellow;
}

select {
   background: transparent;
   border: none;
   color: #fff;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px #00000033;
   border-radius: 5px;
   z-index: 1;
}

.dropdown-content a {
   float: none;
   color: black;
   padding: 8px 12px;
   text-decoration: none;
   display: block;
   text-align: left;
}

.dropdown-content a:hover {
   background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
   display: block;
}

header{
   width: 100%
}

@media only screen and (max-width: 1200px){

}