*{
    padding: 0;
    margin: 0;
}

.Hero{ 
    position: absolute;
    left: 20%;
    top: 20%;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    border: 1px solid 0;
    box-sizing: border-box;
    box-shadow: 12px 6px 34px 9px rgba(0,0,0,0.46);
    -webkit-box-shadow: 12px 6px 34px 9px rgba(0,0,0,0.46);
    -moz-box-shadow: 12px 6px 34px 9px rgba(0,0,0,0.46);
}

.Hero > div{
    padding: 20px;
    border: 1px solid #000;
    font-size: 15px;
}

.Hero > div:hover{
    padding: 20px;
    border: 4px solid #000;
}