<div class="sidebar">
    <a routerLink="dashboard">
        <!-- <i class="fa fa-tachometer" aria-hidden="true"></i> -->
        <i class="material-icons">&#xe871;</i>
         Dashboard</a>
    <a routerLink="user-profile"><i class="fa fa-user-secret" aria-hidden="true"></i> User Profile</a>
    <a routerLink="schedule-table"><i class="fa fa-share-alt" aria-hidden="true"></i> Scheduler</a>
    <a routerLink="list"><i class="fa fa-table" aria-hidden="true"></i> List</a>
    <a routerLink="payment"><i class="fa fa-credit-card" aria-hidden="true"></i> Payment</a>
</div>

<!-- <div class="sidebar"> -->
<!--    
    <i class="fa fa-bars fa-2x" aria-hidden="true" id="bt" (click)="toggle()"></i> -->
<!-- 
 <ng-container *ngIf="show">
     <div style="margin: 0 auto; text-align: left;">
         <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
         <a href="#services"><i class="fa fa-fw fa-wrench"></i> Services</a>
         <a href="#clients"><i class="fa fa-fw fa-user"></i> Clients</a>
         <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
     </div>
 </ng-container>
 
</div> -->