
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Sign Up</h3>

        <label for="username">Club name</label>
        <input type="text" placeholder="Enter Club Name" id="username">

        <div style="display: grid; grid-template-columns: auto auto; grid-gap: 20px;">
            <div>
                <label for="username">Phone</label>
                <input type="text" placeholder="Enter Phone" id="username">
            </div>
            <div>
                <label for="username">Email Address</label>
                <input type="text" placeholder="Enter Email" id="username"><i></i>
            </div>
        </div>

        <label for="username">Number of Players</label>
        <input type="text" placeholder="Enter Address" id="username">

        <div style="display: grid; grid-template-columns: auto auto; grid-gap: 20px;">
            <div>
                <label for="username">City</label>
                <input type="text" placeholder="Enter City" id="username">
            </div>
            <div>
                <label for="username">State/Province</label>
                <input type="text" placeholder="Enter Club Name" id="username"><i></i>
            </div>
        </div>

        <label for="password">Postal Code / Zip Code</label>
        <input type="password" placeholder="Password" id="password">

        <button style="color: #198754;" routerLink="/super-admin/super-dashboard">Log In</button>
       
    </form>
