<div class="Hero">
    <div class="container grid-system">
        <div class="h3 mb-3">
            <i class="bi bi-laptop"></i>
            <h5 class="card-title mb-3">
                Registered Clubs
            </h5>
            <button>See list</button>
        </div>
        <div class="h3 mb-3">
            <i class="bi bi-laptop"></i>
            <h5 class="card-title mb-3">
                Registered Clubs
            </h5>
            <button>See list</button>
        </div>
         <div class="h3 mb-3">
            <i class="bi bi-laptop"></i>
            <h5 class="card-title mb-3">
                Registered Clubs
            </h5>
            <button>See list
                <i class="bi bi-chevron-right"></i></button>
        </div>
        <div class="h3 mb-3">
            <i class="bi bi-laptop"></i>
            <h5 class="card-title mb-3">
                Registered Clubs
            </h5>
            <button>See list</button>
        </div>
    </div>

<div class="calender">
    <!-- <i class="bi bi-chevron-right"></i> -->
    <h1>Champions For the African Cup : City Gate</h1>
</div>

</div>

