<!-- 
<div class="Hero">
   <div class="animated-cards">
        <div class="grid1" routerLink="/abcin-login" style="float: right">
            <i class="bi bi-box-arrow-in-left"></i>
            <img src="/assets/ABCIN.png" class="abcin">
        </div>
        <div class="grid1" routerLink="/login-page">
            <img src="/assets/badminton-icon.jpg" class="club-login">
            <i class="bi bi-box-arrow-in-right"></i>
        </div>
   </div>
</div> -->

<div class="container" style="display: grid; grid-template-columns: auto auto; margin: 0 auto;">
    <div class="card">
      <div class="imgBx">
        <!-- <img src="/assets/ABCIN.png"> -->
      </div>
      <div class="contentBx">
        <a routerLink="/abcin-login" style="text-decoration: none;">
            <h2 class="glow">ABCIN Login</h2>
        </a>
      </div>
    </div>

    <div class="card">
        <div class="imgBx">
          <!-- <img src="/assets/ABCIN.png"> -->
        </div>
        <div class="contentBx contentBxN">
          <a routerLink="/login-page" style="text-decoration: none;"><h2>CLUB Admin</h2></a>
        </div>
      </div>
  </div>