<div class="liveView"><h1>LIVE</h1></div>

<marquee class="blink" scrollamount="5" loop="infinite">
 <div class="marquee">
    <p>
        This is an example of blinking text using CSS within a marquee.
    </p> 
    <p class="text-warning">
        This is an example of blinking text using CSS within a marquee.
    </p>   
     <p>
        This is an example of blinking text using CSS within a marquee.
    </p>   
    <p class="text-warning">
       This is an example of blinking text using CSS within a marquee.
   </p>   
   <p>
       This is an example of blinking text using CSS within a marquee.
  </p> 
 </div>  
</marquee>