<div class="wrapper">
    <div class="item">
      <div class="item-parent">
        <input placeholder="Tournament winner">
      </div>
      <div class="item-childrens">
        <div class="item-child">
          <div class="item">
            <div class="item-parent">
              <input placeholder="Semi-final winner 1">
            </div>
            <div class="item-childrens">
              <div class="item-child">
                <div class="item">
                  <div class="item-parent">
                    <input placeholder="Round 2 player 1">
                  </div>
                  <div class="item-childrens">
                    <div class="item-child">
                      <input placeholder="First tournament player 1">
                    </div>
                    <div class="item-child">
                      <input placeholder="First tournament player 2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-child">
                <div class="item">
                  <div class="item-parent">
                    <input placeholder="Round 2 player 2">
                  </div>
                  <div class="item-childrens">
                    <div class="item-child">
                      <input placeholder="First tournament player 3">
                    </div>
                    <div class="item-child">
                      <input placeholder="First tournament player 4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-child">
          <div class="item">
            <div class="item-parent">
              <input placeholder="Semi-final winner 2">
            </div>
            <div class="item-childrens">
              <div class="item-child">
                <div class="item">
                  <div class="item-parent">
                    <input placeholder="Round 2 player 3">
                  </div>
                  <div class="item-childrens">
                    <div class="item-child">
                      <input placeholder="First tournament player 5">
                    </div>
                    <div class="item-child">
                      <input placeholder="First tournament player 6">
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-child">
                <div class="item">
                  <div class="item-parent">
                    <input placeholder="Round 2 player 4">
                  </div>
                  <div class="item-childrens">
                    <div class="item-child">
                      <input placeholder="First tournament player 7">
                    </div>
                    <div class="item-child">
                      <input placeholder="First tournament player 8">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  