<!-- Above the fold -->
<section id="bg-img" class="text-light p-3 text-sm-start">
   <div class="container">
      <div class="text-center my-5">
         <div>
            <p class="py-3">Welcome to the Games!</p>
            <h1><span class="text-light fs-1 fw-bolder">Match Scheduler</span></h1>
            <p class="lead my-4">
               <span class="text-warning fw-bold">See live matches and follow scores real-time</span><br>
               Join the millions who trust Challonge to manage their tournaments.
               <br>More than 30,829,461 brackets created
               around the world.
            </p>
            <button class="btn btn-secondary btn-lg m-3" data-bs-toggle="modal" data-bs-target="#enroll">
               Get started!
            </button>
            <button class="btn btn-success btn-lg m-3" data-bs-toggle="modal" data-bs-target="#enroll">
               See tournaments
            </button>
         </div>
         <!-- <img class="img-fluid w-50 h-50 p-5 d-none d-sm-block" src="assets\badminton-icon.jpg" alt="..."> -->
      </div>
   </div>
</section>

<section class="bg-light text-dark p-2 text-sm-start">
   <div class="container">
      <div class="row align-items-center justify-content-betweeen">
         <div class="col-md">
            <video controls width="500">
               <source src="/assets/pexels-shvets-production-8053480.mp4" type="video/mp4" >
            </video>
         </div>
         <div class="col-md p-5">
            <h2 class="text-dark fw-bold">We offer more than just Software</h2>
            <p class="lead fs-6">
               We offer effective consultation for any business platform you're building,
               and we see you through the process of setting up your business properly if you're a start up.
            </p>
            <p class="lead fs-6">
               This usually doesn't attract a special fee. We offer this in a single package you pay for.
            </p>
            <a href="#" class="btn btn-success p-3">
               <i class="bi bi-chevron-right"></i> Read More
            </a>
         </div>
      </div>
   </div>
</section>

<!-- <section>
   <div>
      <h5>Upcoming games</h5>
      <hr>
   </div>
</section> -->

<!-- Below the fold -->
<section class="p-4">
   <div class="container">
      <h3>All levels. Every Surface. Any Distance.</h3>
      <p>The Beauty of the game is that it can be done in variety of places </p>
   </div>
   <div class="container py-4">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="card bg-dark text-light">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-laptop"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Virtual
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-dark text-light">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-square"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Hybrid
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-dark text-light">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     In-person
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card bg-dark text-light">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     In-person
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="bg-dark text-light p-3 text-sm-start">
   <div class="container py-5">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="bg-dark text-light">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-laptop"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Virtual
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="bg-dark text-light">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-square"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Hybrid
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class=" bg-dark text-light">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     In-person
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="bg-dark text-light">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     In-person
                  </h3>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="bg-light text-light p-5 text-sm-start">
   <div class="container py-1">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-laptop"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Players
                  </h3>
                  <p class="card-text">
                     134,492
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-square"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Coaches
                  </h3>
                  <p class="card-text">
                     419
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Games
                  </h3>
                  <p class="card-text">
                     666
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h3 class="card-title mb-3">
                     Wins
                  </h3>
                  <p class="card-text">
                     911
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>