<!-- Above the fold -->
<section id="bg-img" class="text-light p-3 text-sm-start">
   <div class="container">
      <div class="text-center my-5">
         <div>
            <h1><span class="text-light fs-1 fw-bolder">Welcome to ABCIN games</span></h1>
            <p class="lead my-4">
               <span class="text-warning fw-bold"> View our LIVE matches, scheduled tournaments, and follow scores real-time</span><br>
               Join the millions subscribers who trust our platform to get updates on upcoming games around the globe.
               <br>You can view our tournament brackets, and schedule calenders...
            </p>
            <button class="btn btn-secondary btn-lg m-3" data-bs-toggle="modal" data-bs-target="#enroll" routerLink="/get-started">
               Get started!
            </button>
            <button class="btn btn-success btn-lg m-3" data-bs-toggle="modal" data-bs-target="#enroll" routerLink="get-started">
               See tournaments
            </button>
         </div>
      </div>
   </div>
</section>

<section id="about" class="bg-light text-dark p-2 text-sm-start">
   <div class="container about-us">
      <h3 class="m-1">About us</h3>
      <div class="row align-items-center justify-content-between">
         <div class="col-md">
            <video controls width="100%" height="100%">
               <source src="/assets/pexels-shvets-production-8053480.mp4" type="video/mp4">
            </video>
         </div>
         <div class="col-md p-5">
            <h2 class="text-dark fw-bold">Association Of Badminton Clubs In Nigeria - (ABCIN)</h2>
            <p class="lead fs-6">
               ABCIN is a badminton association which comprises of various badminton clubs, which provide exceptional training schedules, matches, tournaments for out players in eeryclub under an organised environment, we play badminton not just as a game.
            </p>
            <p class="lead fs-6">
               This usually doesn't attract a special fee. We offer this in a single package you pay for.
            </p>

            <div id="myDIV" *ngIf = "!displayValue">
               <p>Ability to multitask, good sense of humour, dress descent.Age 25-35 Career Level: Leadership Requirements and skills: Excellent Communication: writing, verbal and listening skills are core communication skills. As a </p>
            </div>

            <button class="btn btn-success p-3" (click)="toggleDispplay()">
                  <i class="bi bi-chevron-right"></i> Read More
            </button>

         </div>
      </div>
   </div>
</section>

<!-- Gallery -->
<section id="gallery" class="px-5">
   <h3>Our Gallery</h3>
   <div class="grid-container container">
      <!-- Images can become dynamic from database -->
      <div>
         <img alt="gallery image" src="/assets/gallery2.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery3.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery4.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery5.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery6.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery7.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery8.jpeg">
      </div>
      <div>
         <img alt="gallery image" src="/assets/gallery1.jpeg">
      </div>
   </div>
</section>

<!-- Below the fold -->
<section class="p-4 fix">
   <div class="container center">
      <h3 class="text-white">All levels. Every Surface. Any Distance.</h3>
      <p class="text-white">The Beauty of the game is that it can be done in variety of places </p>
   </div>
   <div class="container py-4">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="card text-dark" id=" bg-transparent">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-laptop"></i>
                  </div>
                  <h4 class="card-title mb-3">
                     Virtual
                  </h4>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card text-dark" id=" bg-transparent">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-square"></i>
                  </div>
                  <h4 class="card-title mb-3">
                     Hybrid
                  </h4>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card text-dark" id=" bg-transparent">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h4 class="card-title mb-3">
                     In-person
                  </h4>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="card text-dark" id=" bg-transparent">
               <div class="card-body text-start">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h4 class="card-title mb-3">
                     In-person
                  </h4>
                  <p class="card-text">
                     For those runners looking to challenge thier previous best and cross the finish line faster than
                     ever before. This option is buil around improving you.
                  </p>
                  <a href="#" class="btn btn-success">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section id="matches">
   <div class="matches">
      <img src="/assets/bracket-tree.png">
   </div>
</section>

<section class="quote-section">
   <h3>"Work hard, play hard"</h3>
</section>

<section class="bg-light text-light p-5 text-sm-start">
   <div class="container py-1">
      <div class="row text-center g-4">
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-laptop"></i>
                  </div>
                  <h2 class="card-title mb-3">
                     Players
                  </h2>
                  <p class="card-text">
                     134,492
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-person-square"></i>
                  </div>
                  <h2 class="card-title mb-3">
                     Coaches
                  </h2>
                  <p class="card-text">
                     419
                  </p>

               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h2 class="card-title mb-3">
                     Games
                  </h2>
                  <p class="card-text">
                     666
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md">
            <div class="text-dark fs-bold">
               <div class="text-center">
                  <div class="h1 mb-3">
                     <i class="bi bi-people"></i>
                  </div>
                  <h2 class="card-title mb-3">
                     Wins
                  </h2>
                  <p class="card-text">
                     911
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section>
   <h2>Map Loaction</h2>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15759.022496457355!2d7.441013207130398!3d9.0860129096292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sng!4v1661166377396!5m2!1sen!2sng" width="100%" height="450" style="border: 4px solid #008800;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>